@{
    Layout = null;
    var title = ViewData["Title"] ?? "D'Arome Fragrance App";
    var username = Context.Session.GetString("Username");
    var displayName = Context.Session.GetString("Name") ?? username;
    var isLoggedIn = !string.IsNullOrEmpty(username);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mb-4">
        <div class="container">
			<a class="navbar-brand" href="/">Chez D'Arome | @displayName</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" asp-page="/Index">Home</a></li>
                    @if (isLoggedIn)
                    {
                        <li class="nav-item"><a class="nav-link" asp-page="/Fragrances">Find Fragrances</a></li>
                        <li class="nav-item"><a class="nav-link" asp-page="/Recommend">Recommendations</a></li>
                        <li class="nav-item"><a class="nav-link" asp-page="/Cabinet">Cabinet</a></li>
                      
                        <li class="nav-item">
                            <a class="nav-link text-danger" asp-page="/Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-page="/Login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" asp-page="/Register">Register</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        @RenderBody()
    </div>
    <footer class="container mt-5 mb-3">
        <hr />
        <p class="text-center text-muted small">Made with love</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
