@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="">
                <div>
                    <h1>Chez D'Arome</h1>
                </div>
                <div>
                    <p class="lead">Your scent space</p>
                    
                    <hr>
                   </div>
            </div>
        </div>
        <div>
            <a class="btn" href="/Login">Login</a>
            Haven't got an account yet?   <a class="btn" href="Login/Register"> sign up here </a>
        </div>
    </div>
</div>
